<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

<p th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">name</p>
<br/>

<form th:method="PATCH" th:action="@{/books/{id}/add(id=${book.getBookId()})}" th:if="${isHaveReader == null}">
    <p>Эта книга свободна. Кому назначить ее?</p>
    <label for="person">Выберите человека</label>
    <select th:object="${person}" th:field="*{personId}" id="person">
        <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getName()}"></option>
    </select>
    <input type="submit" value="Назначить книгу"/>
</form>

<form th:method="PATCH" th:action="@{/books/{id}/take(id=${book.getBookId()})}" th:object="${book}" th:if="${isHaveReader != null}">
    <p th:text="'Книга сейчас у: ' + ${isHaveReader.getName()}">currentReader</p>
    <input type="submit" value="Освободить книгу"/>
</form>

<br/>
<hr/>

<form th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
    <input type="submit"  value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>